<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ISSUE_VISA</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <style>
        body {
            background: url('https://res.cloudinary.com/bookstoreproject/image/upload/v1556969048/covers/architecture-attractive-background-988873.jpg') fixed;
            background-size: cover;
        }

        .dropdown {
            margin-left: 20px;
        }

        .btn-secondary {
            width: 180px;
        }

        li {
            margin-left: 20px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#selectCitizen").change(function () {
                sendAjaxRequest();
            })
        });

        function sendAjaxRequest() {
            var citizenId = $("#selectCitizen").val();
            $("#containerForCitizen").empty();
            $.get("/embassy/get_citizen_info?id=" + citizenId, function (citizen) {
                $("#containerForCitizen").append(
                    "<div class='card-header'><h5>" + citizen.firstName + ' ' + citizen.lastName + "</h5>" +
                    "</div>" +
                    "<div class='card-body'>" +
                    "<label>Date of birthday : <p class='card-text'>" + citizen.dob + "</p></label><br/>" +
                    "<label>Country : <p class='card-text'>" + citizen.city.country.name + "</p></label><br/>" +
                    "<label>City : <p class='card-text'>" + citizen.city.name + "</p></label><br/>" +
                    "</div>"
                );
            });
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/embassy">EMBASSY</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/embassy">Main page <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/embassy/change_citizenship"
                   sec:authorize="hasRole('ADMIN')">Change
                    citizenship</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/embassy/issue_visa"
                   sec:authorize="hasRole('ADMIN')">Issue
                    visa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/embassy/info"
                   sec:authorize="hasRole('ADMIN')">Citizen info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/embassy/registration"
                   sec:authorize="hasRole('ADMIN')">Create officer</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto" style="margin-left: 450px">
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" href="/embassy/login">SIGN IN<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/logout">LOGOUT<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" style="background-color: white; margin-top: 40px">
    <form class="text-center border border-light p-5"
          action="/embassy/issue_visa" method="POST">

        <p class="h4 mb-4">ISSUE VISA</p>

        <div class="form-group">
            <label for="selectCitizen"> Select citizen (by passport code) :
                <br/>
                <select name="id" class="selectpicker" title="Choose citizen"
                        data-live-search="true" id="selectCitizen">
                    <option th:each="citizen : ${citizens}"
                            th:text="${citizen.passportCode}"
                            th:value="${citizen.id}">
                    </option>
                </select>
            </label>
        </div>

        <div id="containerForCitizen"></div>

        <div class="form-group">
            <label> Select kind of permitting document : <br/>
                <label for="selectForKind" id="labelForKind"></label>
                <select name="kindOfPermittingDocumentId" class="selectpicker"
                        title="Choose kind of permitting document"
                        data-live-search="true"
                        id="selectForKind">
                    <option th:each="document : ${documents}"
                            th:text="${document.name}"
                            th:value="${document.id}">
                    </option>
                </select>
            </label>
        </div>

        <button class="btn btn-info btn-block my-4" type="submit">Submit
        </button>
    </form>
</div>
</body>
</html>